<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

(% for i in tv_show %)
<h1>{{i.title}}</h1>
<img src="{{i.image.url}}" alt="">

<button><a href="#">Подробнее...</a></button>
(% endfor %)

</body>
</html>