<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for i in book %}
  <h1>{{i.title}}</h1>
  <img src="{{i.image.url}}" alt="">
  <p>description : {{i.description}}</p>
  <p>cost = {{i.cost}}</p>
  <p>color : {{i.color}}</p>
  <p>created_at : {{i.created_at}}</p>
{% endfor %}
</body>
</html>